body {
    font-family: Arial, sans-serif;
    background-color: #0d102f;
}

.container {
    width: 70%;
    margin: 30px auto;
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #ffffff;
    font-size: 30px;
    background-color: #0d102f;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 30px;
    border-radius: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

.form-group {
    margin-bottom: 18px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 6px;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 4px;
    border-radius: 5px;
    border: 1px solid #464343;
    box-shadow: #464343 0px 1px 2px inset;
}

.radio-group {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.radio-group label {
    font-weight: normal;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #0d102f;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

button:hover {
    background-color: #277bb3;
}

.result {
    margin-top: 25px;
    padding: 15px;
    background-color: #fbfbfb;
    font-size: 18px;
    font-weight: bold;
    color: #000304;
    text-align: center;
    border: 2px solid #0b52a3;
    border-radius: 8px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}